Repository espressomd/espresso: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, autopep8

clang-format:
  name: clang-format
  entry: bash maintainer/CI/clang-format.sh
  language: system
  always_run: false
  args:
  - -i
  - -style=file

autopep8:
  name: autopep8
  entry: bash maintainer/CI/autopep8.sh
  language: system
  always_run: false
  args:
  - --ignore=E266,W291,W293
  - --in-place
  - --aggressive

Fix regression with feature STOKESIAN_DYNAMICS
  cmake/cmake_config.cmakein
  src/config/features.def
Due: none

Core: Fix LB profile observable
  src/core/observables/LBProfileObservable.hpp
  testsuite/python/observable_profileLB.py
Due: clang-format, autopep8

Refactor Profile observables
  src/core/observables/CylindricalLBProfileObservable.hpp
  src/core/observables/CylindricalPidProfileObservable.hpp
  src/core/observables/CylindricalProfileObservable.hpp
  src/core/observables/ProfileObservable.hpp
  src/script_interface/observables/CylindricalLBProfileObservable.hpp
  src/script_interface/observables/CylindricalPidProfileObservable.hpp
  src/script_interface/observables/LBProfileObservable.hpp
  src/script_interface/observables/PidProfileObservable.hpp
Due: clang-format

Calculate histogram edges in the core
  src/core/observables/CylindricalProfileObservable.hpp
  src/core/observables/ProfileObservable.hpp
  src/python/espressomd/observables.py
  src/script_interface/observables/CylindricalLBProfileObservable.hpp
  src/script_interface/observables/CylindricalPidProfileObservable.hpp
  src/script_interface/observables/LBProfileObservable.hpp
  src/script_interface/observables/PidProfileObservable.hpp
  testsuite/python/observable_cylindrical.py
  testsuite/python/observable_cylindricalLB.py
  testsuite/python/observable_profile.py
  testsuite/python/observable_profileLB.py
Due: clang-format, autopep8

Simplify code and add wrapper for histogramdd
  testsuite/python/observable_cylindrical.py
  testsuite/python/observable_cylindricalLB.py
  testsuite/python/observable_profile.py
  testsuite/python/observable_profileLB.py
  testsuite/python/tests_common.py
Due: autopep8

Fix broken sample
  samples/lb_profile.py
  testsuite/scripts/samples/CMakeLists.txt
  testsuite/scripts/samples/test_lb_profile.py
Due: autopep8

Fix broken python tests
  testsuite/python/observable_profile.py
  testsuite/python/observable_profileLB.py
Due: autopep8

Apply code review feedback
  src/core/observables/CylindricalProfileObservable.hpp
  src/core/observables/ProfileObservable.hpp
  src/script_interface/observables/CylindricalLBProfileObservable.hpp
  src/script_interface/observables/CylindricalPidProfileObservable.hpp
  src/script_interface/observables/LBProfileObservable.hpp
  src/script_interface/observables/PidProfileObservable.hpp
  src/script_interface/observables/ProfileObservable.hpp
Due: clang-format

maintainer: added cmake-format check.
  .cmake-format
  .pre-commit-config.yaml
  doc/logo/CMakeLists.txt
  maintainer/CI/autopep8.sh
  maintainer/CI/clang-format.sh
  maintainer/CI/fix_style.sh
  maintainer/format/autopep8.sh
  maintainer/format/clang-format.sh
  maintainer/format/cmake-format.sh
  maintainer/format/ex_flag.sh
  maintainer/header_template.txt
  requirements.txt
  src/core/unit_tests/CMakeLists.txt
Due: none

fixed crash when running SD integrator
  src/core/integrate.cpp
  src/python/espressomd/integrate.pyx
Due: clang-format, autopep8

Pull out text to make the message more readable
  maintainer/gh_post_style_patch.py
Due: autopep8

core: Removed unused Particle::flat_copy
  src/core/Particle.hpp
Due: clang-format

core: Proper serialization for Particle
  src/core/Particle.hpp
  src/core/communication.cpp
  src/core/serialization/ParticleList.hpp
  src/core/unit_tests/Particle_test.cpp
Due: clang-format

Migrate to the new GET syntax
  maintainer/gh_post_docs_warnings.py
  maintainer/gh_post_pylint.py
  maintainer/gh_post_status.sh
  maintainer/gh_post_style_patch.py
Due: autopep8

Fail CI on HTTP error code
  maintainer/gh_post_docs_warnings.py
  maintainer/gh_post_pylint.py
  maintainer/gh_post_style_patch.py
Due: autopep8

core: ParticleList: default-initialize Partices
  src/core/ParticleList.hpp
  src/core/ghosts.cpp
  src/core/serialization/ParticleList.hpp
  src/core/unit_tests/link_cell_test.cpp
  src/core/unit_tests/verlet_ia_test.cpp
Due: clang-format

core: Manage memory for ParticleList
  src/core/CellStructure.cpp
  src/core/ParticleList.hpp
  src/core/cells.cpp
  src/core/ghosts.cpp
Due: clang-format

core: Simplify
  src/core/ParticleList.hpp
  src/core/cells.cpp
  src/core/cells.hpp
  src/core/domain_decomposition.cpp
  src/core/nsquare.cpp
Due: clang-format

core: Removed old Particle serialization code
  src/core/serialization/Particle.hpp
Due: clang-format

core: Start ParticleRanges with actually valid iterators
  src/core/CellStructure.hpp
  src/core/ParticleIterator.hpp
  src/core/unit_tests/ParticleIterator_test.cpp
Due: clang-format

core: ParticleIterator: Detect derived types
  src/core/ParticleIterator.hpp
  src/core/ParticleRange.hpp
  src/core/unit_tests/ParticleIterator_test.cpp
Due: clang-format

core: Switch ParticleIterator from particle index to iterators, simplify.
  src/core/CellStructure.hpp
  src/core/ParticleIterator.hpp
  src/core/unit_tests/ParticleIterator_test.cpp
Due: clang-format

Check_resort: return RESORT_GLOBAL as default
  src/core/cells.cpp
Due: clang-format

refactored SD cmake logic and compiler option logic, SD is internal feature again.
  CMakeLists.txt
  cmake/cmake_config.cmakein
  libs/CMakeLists.txt
  libs/stokesian_dynamics/CMakeLists.txt
  libs/stokesian_dynamics/thrust_wrapper.hpp
  maintainer/configs/maxset.hpp
  src/config/features.def
  src/core/stokesian_dynamics/CMakeLists.txt
  src/core/stokesian_dynamics/sd_interface.cpp
  src/python/espressomd/integrate.pyx
Due: clang-format, autopep8

style
  maintainer/configs/maxset.hpp
  src/core/integrators/stokesian_dynamics_inline.hpp
  src/python/espressomd/integrate.pyx
Due: clang-format, autopep8

temporarily removed CMake section to add SD GPU code, so that we can test CI at least for CPU
  libs/stokesian_dynamics/CMakeLists.txt
Due: none

temporarily removed CMake section to add SD GPU code, so that we can test CI at least for CPU
  src/core/stokesian_dynamics/CMakeLists.txt
Due: none

maintainer: use new images.
  .gitlab-ci.yml
Due: none

maintainer: fix yaml.
  .gitlab-ci.yml
Due: none

frakmsl;sdf;lknjawe.
  .gitlab-ci.yml
Due: none

Update image.
  .gitlab-ci.yml
Due: none

maintainer: update image version and cleanup.
  .gitlab-ci.yml
Due: none

ROCm 3.3 support
  cmake/FindCUDACompiler.cmake
  src/core/cuda_init_cuda.cu
Due: clang-format

suppress compiler warnings in Random123
  libs/stokesian_dynamics/CMakeLists.txt
  libs/stokesian_dynamics/sd.hpp
  src/core/CMakeLists.txt
Due: clang-format

addition to commits 965e509 and 149aa2d
  CMakeLists.txt
  src/core/stokesian_dynamics/sd_interface.cpp
Due: clang-format

maintainer: added new style checking via pre-commit tool.
  .pre-commit-config.yaml
  maintainer/CI/autopep8.sh
  maintainer/CI/clang-format.sh
  maintainer/CI/fix_style.sh
Due: none

Path conditions:
  clang-format: any of: .*\.(cpp|hpp|cu|cuh)
  autopep8: any of: .*\.(py|pyx|pxd)
