Repository espressomd/espresso: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, autopep8

.pre-commit-config.yaml:

fail_fast: false
repos:
-   repo: local
    hooks:
    -   id: clang-format
        name: clang-format
        entry: bash maintainer/CI/clang-format.sh
        language: system
        always_run: false
        files: '.*\.(cpp|hpp|cu|cuh)'
        args: ["-i", "-style=file"]

    -   id: autopep8
        name: autopep8
        entry: bash maintainer/CI/autopep8.sh
        language: system
        always_run: false
        files: '.*\.(py|pyx|pxd)'
        args: ["--ignore=E266,W291,W293", "--in-place", "--aggressive"]

Clang-Format: apply style from Clang-Format 9
  src/utils/include/utils/Array.hpp
  src/utils/include/utils/interpolation/bspline_3d.hpp
Due: clang-format

Apply code review feedback
  src/core/BondList.hpp
  src/core/electrostatics_magnetostatics/scafacos.cpp
  src/core/grid_based_algorithms/OptionalCounter.hpp
  src/core/grid_based_algorithms/electrokinetics_cuda.cu
  src/core/grid_based_algorithms/lbgpu_cuda.cu
  src/utils/include/utils/mpi/gatherv.hpp
Due: clang-format

CI: move ubuntu:wo-dependencies job
  .gitlab-ci.yml
Due: none

Fix documention issues found by Doxygen 1.8.17
  src/core/CellStructure.hpp
  src/core/domain_decomposition.cpp
  src/core/electrostatics_magnetostatics/p3m.cpp
  src/utils/include/utils/mask.hpp
Due: clang-format

Update Doxyfile field values for Doxygen 1.8.17
  doc/doxygen/Doxyfile.in
Due: none

Improve doxygen style check script
  .gitlab-ci.yml
  maintainer/CI/dox_warnings.py
  maintainer/CI/dox_warnings.sh
Due: autopep8

CI: move and rename Clang sanitizer job
  .gitlab-ci.yml
Due: none

Add support for Doxygen 1.8.17 from Ubuntu 20.04
  .gitlab-ci.yml
  maintainer/CI/dox_warnings.py
  maintainer/CI/dox_warnings.sh
Due: autopep8

Update Doxyfile field docs for Doxygen 1.8.17
  doc/doxygen/Doxyfile.in
Due: none

CI: simplify job scripts
  .gitlab-ci.yml
Due: none

CI: use Ubuntu 20.04 with CUDA 10.1 as default
  .gitlab-ci.yml
Due: none

CI: use Ubuntu 18.04 with CUDA 9.1
  .gitlab-ci.yml
  maintainer/CI/build_cmake.sh
Due: none

Docs: cleanup bibliography
  doc/sphinx/zrefs.bib
Due: none

Docs: remove duplicated Particle property docs
  src/python/espressomd/particle_data.pyx
Due: autopep8

Bump all Python package requirements
  requirements.txt
Due: none

Increase minimal Boost version to 1.65
  CMakeLists.txt
  doc/sphinx/installation.rst
  src/core/BondList.hpp
  src/core/communication.hpp
  src/utils/include/utils/demangle.hpp
  src/utils/include/utils/serialization/array.hpp
Due: clang-format

CI: use newer Ubuntu-based images
  .gitlab-ci.yml
  .travis.yml
Due: none

Docs: remove unnecessary mocks
  doc/sphinx/conf.py.in
Due: autopep8

Docs: workaround a Sphinx 3.0 issue
  src/python/espressomd/constraints.py
Due: autopep8

CI: update check for exit() symbol
  maintainer/CI/build_cmake.sh
Due: none

CI: increase job notification timeout
  .gitlab-ci.yml
Due: none

core: Take max range from active cell system when tuning the skin
  src/core/tuning.cpp
Due: clang-format

core: ghosts: Operate on ParticleLists, not on Cells
  src/core/domain_decomposition.cpp
  src/core/ghosts.cpp
  src/core/ghosts.hpp
  src/core/nsquare.cpp
Due: clang-format

core: Ctor for GhostCommunicator
  src/core/ghosts.cpp
  src/core/ghosts.hpp
Due: clang-format

core: Replaced prepare_comm by ctor of GhostCommunicator
  src/core/domain_decomposition.cpp
  src/core/ghosts.hpp
  src/core/nsquare.cpp
Due: clang-format

core: Removed left-over management functions for ghost communications/cells, free_comm
  src/core/cells.cpp
  src/core/domain_decomposition.cpp
  src/core/domain_decomposition.hpp
  src/core/ghosts.cpp
  src/core/ghosts.hpp
  src/core/nsquare.cpp
  src/core/nsquare.hpp
Due: clang-format

core: ghosts: Store mpi communicator in GhotsCommunicator
  src/core/domain_decomposition.cpp
  src/core/ghosts.cpp
  src/core/ghosts.hpp
  src/core/nsquare.cpp
Due: clang-format

core: ghosts: Removed dependence on communicator global
  src/core/ghosts.cpp
  src/core/ghosts.hpp
Due: clang-format

core: cells: Removed topology_release
  src/core/cells.cpp
Due: clang-format

Copyright headers.
  src/core/observables/ParticleTraits.hpp
  src/genobs/include/genobs/algorithms.hpp
  src/genobs/include/genobs/observable.hpp
  src/genobs/include/genobs/properties.hpp
  src/genobs/tests/algorithms.cpp
  src/genobs/tests/mock.hpp
  src/genobs/tests/observables.cpp
  src/genobs/tests/properties.cpp
  src/utils/include/utils/flatten.hpp
Due: clang-format

Update CoC.
  CODE_OF_CONDUCT.md
Due: none

SD: fix undefined rotation when omega=0
  src/core/integrators/stokesian_dynamics_inline.hpp
Due: clang-format

SD: adding/correcting code documentation
  libs/stokesian_dynamics/sd.hpp
Due: clang-format

SD: revert unwanted changes
  doc/tutorials/01-lennard_jones/01-lennard_jones.ipynb
  maintainer/CI/fix_style.sh
Due: none

revert more unwanted change
  maintainer/format/cmake-format.sh
Due: none

SD: add copyright headers, change code documentation
  libs/stokesian_dynamics/device_matrix.hpp
  libs/stokesian_dynamics/multi_array.hpp
Due: clang-format

SD: removed a debug log
  libs/stokesian_dynamics/sd.hpp
Due: clang-format

core: Header clean up
  src/core/domain_decomposition.cpp
  src/core/domain_decomposition.hpp
  src/core/event.cpp
  src/core/nsquare.cpp
  src/core/nsquare.hpp
Due: clang-format

core: Expose ghost comm via CellStructure
  src/core/CellStructure.cpp
  src/core/CellStructure.hpp
Due: clang-format

core: Access ghost force reduction via CellStructure
  src/core/domain_decomposition.cpp
  src/core/electrostatics_magnetostatics/icc.cpp
  src/core/forces.cpp
  src/core/nsquare.cpp
  src/core/nsquare.hpp
  src/core/rattle.cpp
  src/core/virtual_sites/VirtualSitesRelative.cpp
  src/core/virtual_sites/lb_inertialess_tracers.cpp
Due: clang-format
