Repository espressomd/espresso: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, autopep8

.pre-commit-config.yaml:

fail_fast: false
repos:
-   repo: local
    hooks:
    -   id: clang-format
        name: clang-format
        entry: bash maintainer/CI/clang-format.sh
        language: system
        always_run: false
        files: '.*\.(cpp|hpp|cu|cuh)'
        args: ["-i", "-style=file"]

    -   id: autopep8
        name: autopep8
        entry: bash maintainer/CI/autopep8.sh
        language: system
        always_run: false
        files: '.*\.(py|pyx|pxd)'
        args: ["--ignore=E266,W291,W293", "--in-place", "--aggressive"]

core: p3m: Calculate pos_shift otf
  src/core/electrostatics_magnetostatics/p3m.cpp
  src/core/electrostatics_magnetostatics/p3m.hpp
Due: clang-format

core: p3m: Facotred out interpolation weight storage
  src/core/electrostatics_magnetostatics/elc.cpp
  src/core/electrostatics_magnetostatics/p3m.cpp
  src/core/electrostatics_magnetostatics/p3m.hpp
  src/core/electrostatics_magnetostatics/p3m_interpolation.hpp
Due: clang-format

core: p3m: Use less memory bandwidth
  src/core/electrostatics_magnetostatics/p3m.cpp
  src/utils/include/utils/Vector.hpp
Due: clang-format

core: p3m: Reorder forward decls
  src/core/electrostatics_magnetostatics/p3m.cpp
Due: clang-format

core: p3m: Switched to Utils::get_linear_index for index calc
  src/core/electrostatics_magnetostatics/fft.cpp
  src/core/electrostatics_magnetostatics/fft.hpp
  src/core/electrostatics_magnetostatics/p3m-common.hpp
  src/core/electrostatics_magnetostatics/p3m.cpp
  src/core/electrostatics_magnetostatics/p3m_send_mesh.cpp
  src/core/electrostatics_magnetostatics/p3m_send_mesh.hpp
Due: clang-format

core: p3m: Removed interpolation function interpolation
  maintainer/benchmarks/p3m.py
  src/core/electrostatics_magnetostatics/p3m-common.hpp
  src/core/electrostatics_magnetostatics/p3m-dipolar.cpp
  src/core/electrostatics_magnetostatics/p3m-dipolar.hpp
  src/core/electrostatics_magnetostatics/p3m.cpp
  src/core/electrostatics_magnetostatics/p3m.hpp
  src/python/espressomd/electrostatics.pxd
  src/python/espressomd/electrostatics.pyx
  src/python/espressomd/magnetostatics.pxd
  src/python/espressomd/magnetostatics.pyx
  src/python/espressomd/p3m_common.pxd
  testsuite/python/analyze_energy.py
  testsuite/python/coulomb_cloud_wall.py
  testsuite/python/electrostaticInteractions.py
Due: clang-format, autopep8

added MWE to documentation
  doc/sphinx/sd.rst
Due: none

utils: integral_parameter + test
  src/utils/include/utils/integral_parameter.hpp
  src/utils/tests/CMakeLists.txt
  src/utils/tests/integral_parameter_test.cpp
Due: clang-format

core: dp3m: Modernize
  src/core/electrostatics_magnetostatics/p3m-dipolar.cpp
  src/core/electrostatics_magnetostatics/p3m-dipolar.hpp
Due: clang-format

core: p3m: Factored out force interpolation
  src/core/electrostatics_magnetostatics/p3m.cpp
Due: clang-format

core: p3m: Docstrings
  src/core/electrostatics_magnetostatics/p3m-dipolar.cpp
  src/core/electrostatics_magnetostatics/p3m-dipolar.hpp
  src/core/electrostatics_magnetostatics/p3m.cpp
  src/core/electrostatics_magnetostatics/p3m.hpp
  src/core/electrostatics_magnetostatics/p3m_interpolation.hpp
Due: clang-format

core: dp3m: Removed unused code
  src/core/electrostatics_magnetostatics/p3m-common.hpp
  src/core/electrostatics_magnetostatics/p3m-dipolar.cpp
  src/core/electrostatics_magnetostatics/p3m.cpp
  src/python/espressomd/p3m_common.pxd
Due: clang-format, autopep8

core: p3m: Factored out charge interpolation
  src/core/electrostatics_magnetostatics/p3m.cpp
  src/core/electrostatics_magnetostatics/p3m_interpolation.hpp
Due: clang-format

core: p3m: Switch to Utils::integral_parameter, reuse interpolation in DP3M, simplification.
  src/core/electrostatics_magnetostatics/elc.cpp
  src/core/electrostatics_magnetostatics/p3m-dipolar.cpp
  src/core/electrostatics_magnetostatics/p3m.cpp
  src/core/electrostatics_magnetostatics/p3m.hpp
  src/utils/tests/CMakeLists.txt
Due: clang-format

Remove NVIDIA installation instructions on OSX
  doc/sphinx/installation.rst
Due: none

Update links to dockerfiles
  doc/sphinx/installation.rst
Due: none

Document which HDF5 package to install
  doc/sphinx/io.rst
Due: none

Fix incorrect formula
  doc/sphinx/electrostatics.rst
Due: none

Explain how to visualize domain decomposition
  doc/sphinx/system_setup.rst
  samples/visualization_cellsystem.py
Due: autopep8

Replace magic values by their full expressions
  doc/tutorials/02-charged_system/02-charged_system-2.ipynb
  doc/tutorials/02-charged_system/scripts/nacl_units.py
  doc/tutorials/02-charged_system/scripts/nacl_units_vis.py
  samples/visualization_charged.py
Due: autopep8

suggestions from code review
  src/core/electrostatics_magnetostatics/p3m_interpolation.hpp
  src/python/espressomd/electrostatics.pxd
  src/python/espressomd/magnetostatics.pyx
Due: clang-format, autopep8

Add GPU fixture
  testsuite/scripts/samples/test_lb_profile.py
Due: autopep8

Fix validate_params() in P3M methods
  src/python/espressomd/electrostatics.pyx
  src/python/espressomd/magnetostatics.pyx
Due: autopep8

Post the style patch
  maintainer/CI/fix_style.sh
Due: none

Rename observables->genobs.
  include/genobs/algorithms.hpp
  include/genobs/observable.hpp
  include/genobs/properties.hpp
  tests/algorithms.cpp
  tests/observables.cpp
  tests/properties.cpp
Due: clang-format

maintainer: update image.
  .gitlab-ci.yml
Due: none

Remove line breaks
  maintainer/gh_post_style_patch.py
Due: autopep8

update namespace.
  include/genobs/algorithms.hpp
  include/genobs/observable.hpp
  include/genobs/properties.hpp
  tests/algorithms.cpp
  tests/mock.hpp
  tests/observables.cpp
  tests/properties.cpp
Due: clang-format

All_compare test: Expect "true" on single process
  src/utils/tests/all_compare_test.cpp
Due: clang-format

maintainer: added submodule genobs.
  .gitmodules
  libs/CMakeLists.txt
Due: none

utils: flatten Co-authored-by: Florian Weik <fweik@icp.uni-stuttgart.de>
  src/utils/include/utils/flatten.hpp
  src/utils/tests/flatten_test.cpp
Due: clang-format

LBCPU: Fix rounding issue for grid size calculation
  src/core/grid_based_algorithms/lattice.cpp
  testsuite/python/lb.py
Due: clang-format, autopep8

SD: refactor python interface
  src/core/stokesian_dynamics/sd_interface.cpp
  src/python/espressomd/integrate.pxd
  src/python/espressomd/integrate.pyx
  src/python/espressomd/thermostat.pxd
  src/python/espressomd/thermostat.pyx
Due: clang-format, autopep8

Formatting
  testsuite/python/lb.py
Due: autopep8

remove old code from fix_style.sh
  maintainer/CI/fix_style.sh
Due: none

style
  src/python/espressomd/integrate.pyx
  src/python/espressomd/thermostat.pyx
Due: autopep8

property: DipoleMoment.
  include/genobs/properties.hpp
  tests/mock.hpp
  tests/properties.cpp
Due: clang-format

observables: use new generic observables in some places.
  src/core/CMakeLists.txt
  src/core/observables/ComPosition.hpp
  src/core/observables/ComVelocity.hpp
  src/core/observables/DipoleMoment.hpp
  src/core/observables/MagneticDipoleMoment.hpp
  src/core/observables/ParticleForces.hpp
  src/core/observables/ParticlePositions.hpp
  src/core/observables/ParticleTraits.hpp
  src/core/observables/ParticleVelocities.hpp
  src/core/observables/PidObservable.hpp
  src/core/observables/TotalForce.hpp
  src/utils/tests/CMakeLists.txt
  testsuite/python/observables.py
Due: clang-format, autopep8

Prepare submodule merge into espresso.
  .gitignore
  .gitlab-ci.yml
  README.md
  libs/genobs/CMakeLists.txt
  libs/genobs/ci/Dockerfile
  libs/genobs/cmake/UnitTest.cmake
  libs/genobs/include/genobs/algorithms.hpp
  libs/genobs/include/genobs/observable.hpp
  libs/genobs/include/genobs/properties.hpp
  libs/genobs/tests/CMakeLists.txt
  libs/genobs/tests/algorithms.cpp
  libs/genobs/tests/mock.hpp
  libs/genobs/tests/observables.cpp
  libs/genobs/tests/properties.cpp
Due: clang-format

maintainer: removed genobs submnodule.
  .gitmodules
Due: none
