Repository espressomd/espresso: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, autopep8

.pre-commit-config.yaml:

fail_fast: false
repos:
-   repo: local
    hooks:
    -   id: clang-format
        name: clang-format
        entry: bash maintainer/CI/clang-format.sh
        language: system
        always_run: false
        files: '.*\.(cpp|hpp|cu|cuh)'
        args: ["-i", "-style=file"]

    -   id: autopep8
        name: autopep8
        entry: bash maintainer/CI/autopep8.sh
        language: system
        always_run: false
        files: '.*\.(py|pyx|pxd)'
        args: ["--ignore=E266,W291,W293", "--in-place", "--aggressive"]

core: Removed unused for_each_bond
  src/core/bonded_interactions/bonded_interaction_data.hpp
Due: clang-format

CI: Path to UBSAN supressions
  .gitlab-ci.yml
Due: none

Implement a generic domain decomposition
  cmake/FindRepa.cmake
  src/core/CMakeLists.txt
  src/core/CellStructure.hpp
  src/core/cells.cpp
  src/core/cells.hpp
  src/core/communication.cpp
  src/core/communication.hpp
  src/core/generic-dd/CMakeLists.txt
  src/core/generic-dd/generic_dd.cpp
  src/core/generic-dd/generic_dd.hpp
  src/core/generic-dd/metric.cpp
  src/core/generic-dd/metric.hpp
  src/core/ghosts.cpp
  src/core/ghosts.hpp
  src/core/short_range_loop.hpp
  src/core/utils/mpi/waitany.hpp
  src/python/espressomd/cellsystem.pyx
  src/python/espressomd/generic_dd.pxd
  src/python/espressomd/generic_dd.pyx
  src/script_interface/CMakeLists.txt
  src/script_interface/generic_dd/CMakeLists.txt
  src/script_interface/generic_dd/initialize.cpp
  src/script_interface/generic_dd/initialize.hpp
  src/script_interface/generic_dd/si_generic_dd.hpp
  src/script_interface/generic_dd/si_metric.hpp
  src/script_interface/initialize.cpp
  testsuite/python/CMakeLists.txt
  testsuite/python/collision_detection.py
  testsuite/python/generic_dd_energy.py
  testsuite/python/lj.py
  testsuite/python/pairs.py
  testsuite/python/random_pairs.py
Due: clang-format, autopep8

Formatting and docstrings
  src/core/BondList.hpp
  src/core/CellStructure.hpp
  src/core/bonded_interactions/bonded_interaction_data.hpp
  src/core/energy_inline.hpp
  src/python/espressomd/particle_data.pxd
  src/python/espressomd/particle_data.pyx
Due: clang-format, autopep8

Apply suggestions from code review
  src/core/BondList.hpp
  src/core/rattle.cpp
  src/core/unit_tests/BondList_test.cpp
Due: clang-format

core: Fixed left-over bond index calculation
  src/core/pressure_inline.hpp
Due: clang-format

core: Fixed build with older boost versions
  src/core/BondList.hpp
Due: clang-format

core: Added missing include
  src/core/pressure_inline.hpp
Due: clang-format

core: Avoid boost vector on older boost versions
  src/core/BondList.hpp
  src/core/unit_tests/BondList_test.cpp
Due: clang-format

core: Replaced DoubleList by standard containers
  src/core/CMakeLists.txt
  src/core/actor/mmm-common_cuda.hpp
  src/core/electrostatics_magnetostatics/CMakeLists.txt
  src/core/electrostatics_magnetostatics/mmm-common.cpp
  src/core/electrostatics_magnetostatics/mmm-common.hpp
  src/core/electrostatics_magnetostatics/mmm1d.cpp
  src/core/electrostatics_magnetostatics/specfunc.cpp
  src/core/electrostatics_magnetostatics/specfunc.hpp
  src/core/polynom.cpp
  src/core/polynom.hpp
  src/utils/include/utils/List.hpp
Due: clang-format

fixed a_host array legth
  libs/stokesian_dynamics/multi_array.hpp
  src/core/stokesian_dynamics/sd_interface.cpp
Due: clang-format

fixed compiler warnings
  src/core/stokesian_dynamics/sd_interface.cpp
Due: clang-format

core: Replaced IntList in auto_exclusions
  src/core/particle_data.cpp
Due: clang-format

core: Replaced IntList in statistics
  src/core/Particle.hpp
  src/core/exclusions.cpp
  src/core/exclusions.hpp
  src/core/particle_data.cpp
  src/core/statistics.cpp
  src/core/statistics.hpp
  src/core/unit_tests/Particle_test.cpp
  src/python/espressomd/analyze.pxd
  src/python/espressomd/analyze.pyx
Due: clang-format, autopep8

Use newer images
  .gitlab-ci.yml
Due: none

Add manual jobs for ROCm and Fedora latest
  .gitlab-ci.yml
Due: none

added boost to libs SD dependencies
  libs/stokesian_dynamics/CMakeLists.txt
  src/core/stokesian_dynamics/CMakeLists.txt
Due: none

core: Made exclusion list a std::vector
  src/core/Particle.hpp
  src/core/grid_based_algorithms/electrokinetics_cuda.cu
  src/core/grid_based_algorithms/halo.cpp
  src/core/grid_based_algorithms/lbgpu_cuda.cu
  src/core/statistics.cpp
  src/core/statistics.hpp
  src/core/unit_tests/Particle_test.cpp
  src/python/espressomd/analyze.pxd
  src/python/espressomd/analyze.pyx
  src/python/espressomd/particle_data.pxd
  src/python/espressomd/particle_data.pyx
  src/utils/include/utils/List.hpp
Due: clang-format, autopep8

espressomd: Replaced List[int]
  src/core/statistics.cpp
  src/core/statistics.hpp
  src/python/espressomd/analyze.pxd
  src/python/espressomd/analyze.pyx
  src/python/espressomd/utils.pxd
  src/python/espressomd/utils.pyx
Due: clang-format, autopep8

core: Replaced Utils::List in Observable_stat*
  src/core/Observable_stat.hpp
  src/core/energy.cpp
  src/core/energy_inline.hpp
  src/core/pressure.cpp
  src/core/pressure_inline.hpp
  src/core/statistics.cpp
  src/python/espressomd/analyze.pxd
  src/python/espressomd/analyze.pyx
Due: clang-format, autopep8

espressomd: Removed Utils::List
  src/core/particle_data.hpp
  src/python/espressomd/analyze.pxd
  src/python/espressomd/analyze.pyx
  src/python/espressomd/particle_data.pyx
  src/python/espressomd/utils.pxd
Due: clang-format, autopep8

utils: Removed List
  src/core/TabulatedPotential.hpp
  src/core/grid_based_algorithms/lb.cpp
  src/utils/include/utils/List.hpp
  src/utils/include/utils/serialization/List.hpp
  src/utils/tests/CMakeLists.txt
  src/utils/tests/List_test.cpp
Due: clang-format

Use Ubuntu 18.04 image in Travis-CI
  .travis.yml
  maintainer/CI/build_docker.sh
Due: none

Simplify ssh-agent command
  .gitlab-ci.yml
Due: none

Deploy docs with Ubuntu 20.04
  .gitlab-ci.yml
Due: none

Exclude Sphinx version 3.0.0
  requirements.txt
Due: none

Fix "duplicate object description" issues
  src/python/espressomd/accumulators.py
  src/python/espressomd/constraints.py
  src/python/espressomd/drude_helpers.py
Due: autopep8

Fix deprecated syntax
  doc/sphinx/conf.py.in
Due: autopep8

core: clang-tidy suggestion
  src/core/pressure.cpp
Due: clang-format

trying to fix OSX linker issue
  src/core/stokesian_dynamics/CMakeLists.txt
Due: none

Revert "trying to fix OSX linker issue"
  src/core/stokesian_dynamics/CMakeLists.txt
Due: none

Downgrade Sphinx, fix SHA in jobs with artifacts
  .gitlab-ci.yml
Due: none

CMake: use python -m sphinx instead of sphinx-build et al.
  cmake/FindCython.cmake
  cmake/FindSphinx.cmake
Due: none

blacklist Sphinx 3.0.0
  cmake/FindSphinx.cmake
Due: none

removed EspressoCore dependency from sd_interface
  src/core/integrators/stokesian_dynamics_inline.hpp
  src/core/stokesian_dynamics/sd_interface.cpp
  src/core/stokesian_dynamics/sd_interface.hpp
Due: clang-format

Fix sphinx version regex
  cmake/FindSphinx.cmake
Due: none

fix sphinx apidoc detection above version 1.7
  cmake/FindSphinx.cmake
Due: none

sd_interface.cpp is now part of EspressoCore library
  src/core/CMakeLists.txt
  src/core/stokesian_dynamics/CMakeLists.txt
Due: none

Workaround Thrust compilation with Clang bug
  src/core/cuda_wrapper.hpp
Due: clang-format

CI: Enable CUDA on Ubuntu 20.04 sanitizer build
  .gitlab-ci.yml
Due: none
