Repository espressomd/espresso: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, autopep8

.pre-commit-config.yaml:

fail_fast: false
repos:
-   repo: local
    hooks:
    -   id: clang-format
        name: clang-format
        entry: bash maintainer/CI/clang-format.sh
        language: system
        always_run: false
        files: '.*\.(cpp|hpp|cu|cuh)'
        args: ["-i", "-style=file"]

    -   id: autopep8
        name: autopep8
        entry: bash maintainer/CI/autopep8.sh
        language: system
        always_run: false
        files: '.*\.(py|pyx|pxd)'
        args: ["--ignore=E266,W291,W293", "--in-place", "--aggressive"]

Missing file
  src/core/clang_thrust_workaround.cuh
Due: clang-format

Include file sorting
  src/core/clang_thrust_workaround.cuh
  src/core/cuda_wrapper.hpp
Due: clang-format

CI: 2h time out for Ubuntu 20 sanitizer job
  .gitlab-ci.yml
Due: none

Clang+Thrust: Guard against double presence of workaround
  src/core/clang_thrust_workaround.cuh
Due: clang-format

Fix clang-format finding in maintainer scripts
  maintainer/format/clang-format.sh
Due: none

Execute bit on formatting scripts
  maintainer/format/autopep8.sh
  maintainer/format/clang-format.sh
  maintainer/format/cmake-format.sh
  maintainer/format/ex_flag.sh
Due: none

CI: Remove osx cuda job
  .gitlab-ci.yml
Due: none

Use new cuda 10 image with ffmpeg
  .gitlab-ci.yml
Due: none

Fix Sphinx 3.0 error for Cython class attributes
  src/python/espressomd/system.pyx
Due: autopep8

fix RNG issue
  libs/stokesian_dynamics/sd.hpp
  src/core/CMakeLists.txt
  src/core/integrators/stokesian_dynamics_inline.hpp
  src/core/stokesian_dynamics/CMakeLists.txt
Due: clang-format

fix_style: try python3 -m pre_commit if pre-commit not found
  maintainer/CI/fix_style.sh
Due: none

style
  CMakeLists.txt
  pylint.log
  src/core/stokesian_dynamics/CMakeLists.txt
Due: none

Apply style fix
  src/core/CMakeLists.txt
  src/core/cells.cpp
  src/core/generic-dd/CMakeLists.txt
  src/core/generic-dd/metric.cpp
  src/python/espressomd/generic_dd.pxd
  src/python/espressomd/generic_dd.pyx
  src/script_interface/generic_dd/CMakeLists.txt
  src/script_interface/generic_dd/initialize.cpp
  src/script_interface/generic_dd/si_generic_dd.hpp
  src/script_interface/generic_dd/si_metric.hpp
  src/script_interface/initialize.cpp
  testsuite/python/generic_dd_energy.py
Due: clang-format, autopep8

Remove hash from comment
  src/core/generic-dd/generic_dd.cpp
Due: clang-format

fix cmake_format or pylint not found
  maintainer/CI/fix_style.sh
  maintainer/format/cmake-format.sh
Due: none

core: Removed subt_lj bond type
  doc/sphinx/inter_bonded.rst
  src/core/bonded_interactions/CMakeLists.txt
  src/core/bonded_interactions/bonded_interaction_data.cpp
  src/core/bonded_interactions/bonded_interaction_data.hpp
  src/core/bonded_interactions/subt_lj.cpp
  src/core/bonded_interactions/subt_lj.hpp
  src/core/energy_inline.hpp
  src/core/forces_inline.hpp
  src/python/espressomd/interactions.pxd
  src/python/espressomd/interactions.pyx
  testsuite/python/CMakeLists.txt
  testsuite/python/interactions_bonded_interface.py
  testsuite/python/subt_lj.py
Due: clang-format, autopep8

cmake: use python -m for cython.
  cmake/FindCython.cmake
Due: none

cmake: use python -m for sphinx.
  cmake/FindSphinx.cmake
Due: none

maintainer: use python -m for pre_commit.
  maintainer/CI/fix_style.sh
  maintainer/lint/pre_commit.sh
Due: none

maintainer: use python -m for autopep8.
  maintainer/format/autopep8.sh
Due: none

maintainer: use python -m for cmake-format.
  maintainer/format/cmake-format.sh
Due: none

maintainer: use python -m for pylint.
  maintainer/CI/fix_style.sh
  maintainer/lint/pylint.sh
Due: none

SD: fix issue with rotation on Clang
  libs/stokesian_dynamics/sd.hpp
  src/core/integrators/stokesian_dynamics_inline.hpp
Due: clang-format

SD: started SPHINX documentation
  doc/sphinx/sd.rst
  doc/sphinx/ug.rst
Due: none

ProfileObservable: add bin_edges(), bin_centers()
  src/python/espressomd/observables.py
  testsuite/python/observable_cylindrical.py
  testsuite/python/observable_cylindricalLB.py
  testsuite/python/observable_profile.py
  testsuite/python/observable_profileLB.py
Due: autopep8

Update Observables documentation
  doc/sphinx/analysis.rst
Due: none

collect->map and return vector.
  include/observables/algorithms.hpp
  include/observables/observable.hpp
  tests/algorithms.cpp
  tests/observables.cpp
Due: clang-format

Fix missing include.
  include/observables/algorithms.hpp
Due: clang-format

Forces, Velocities.
  include/observables/observable.hpp
  tests/observables.cpp
Due: clang-format

added sd.rst to CMakeLists.txt
  doc/sphinx/CMakeLists.txt
Due: none

fix add_css_file incompatible with Sphinx below 1.8
  doc/sphinx/conf.py.in
Due: autopep8

fix unit test.
  cmake/unit_test.cmake
  src/core/src/core/unit_tests/ParticleIterator_test.cpp
  src/core/src/core/unit_tests/Particle_test.cpp
  src/core/src/core/unit_tests/RuntimeError_test.cpp
  src/core/src/core/unit_tests/field_coupling_couplings_test.cpp
  src/core/src/core/unit_tests/field_coupling_fields_test.cpp
  src/core/src/core/unit_tests/field_coupling_force_field_test.cpp
  src/core/src/core/unit_tests/link_cell_test.cpp
  src/core/src/core/unit_tests/periodic_fold_test.cpp
  src/core/src/core/unit_tests/random_test.cpp
  src/core/src/core/unit_tests/random_test.hpp
  src/core/src/core/unit_tests/verlet_ia_test.cpp
Due: clang-format

Detect CUDA libraries installed via nvidia-cuda-toolkit
  cmake/FindCUDACompilerClang.cmake
Due: none

Modern CMake
  CMakeLists.txt
  cmake/FindCUDACompilerClang.cmake
  cmake/FindCUDACompilerHIP.cmake
  cmake/FindCUDACompilerNVCC.cmake
  cmake/unit_test.cmake
  src/core/CMakeLists.txt
  src/core/cluster_analysis/CMakeLists.txt
  src/core/io/mpiio/CMakeLists.txt
  src/python/espressomd/CMakeLists.txt
  src/scafacos/CMakeLists.txt
  src/script_interface/CMakeLists.txt
  src/shapes/CMakeLists.txt
  src/utils/CMakeLists.txt
Due: none

Fix Travis shell error
  maintainer/CI/build_docker.sh
Due: none

Simplify HIP detection
  CMakeLists.txt
  cmake/FindCUDACompilerHIP.cmake
Due: none

Correctly detect CUDA versions with Clang
  cmake/FindCUDACompilerClang.cmake
Due: none

maintainer: Fixed syntax of p3m benchmark
  maintainer/benchmarks/p3m.py
Due: autopep8
